.skill-job-wrapper{
    display:flex;
    width: 100%;
}
.jobs-wrapper{
    width: 55%;
    float: left;
}

.skills-externalJobs-wrapper{
    width: 45%;
    margin-top: 50px;
    max-height: 90vh;
}
.skills-wrapper{
    margin-top: 100px;
}
@media only screen and (max-width:800px) {
    .skill-job-wrapper{
        display: block;
    }
    .jobs-wrapper{
        width: 100%;
    }
    .skills-externalJobs-wrapper{
        display:none ;
    }

}

